/*variaveis globais*/
:root {
  --cor-fundo: #aa1e74;
  --cor-principal: #200b1a;
  --cor-secundaria: #b83290;
  --cor-destaque: #f5ade9;
  --cor-texto: #f7f7f7;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vh;
  margin: 0 auto;
  padding: 16px;
}

.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
